*.bak
*.diff
*.err
*.exe
*.log
*.log*
*.njsproj
*.ntvs*
*.orig
*.rej
*.sass-cache
*.sln
*.sublime-grunt.cache
*.sublime-workspace
*.suo
*.swo
*.swp
*.vi
*~
._*
.cache
.CVS
.DS_Store
.git
.hg
.idea
.project
.settings
.svn
.tmproj
node_modules
Thumbs.db
